@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faebdd;
  --background-400: #e0d2c6;
  --foreground: #1f1f1f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .container {
    @apply px-2 sm:px-4 w-full max-w-[1440px] mx-auto;
  }
}
